.listcss {
    width: 20%;
    height: 1118px;
    background-color: rgb(78, 8, 144);
    display: block;
}

.items {
    cursor: pointer;
    width: 80px;
    height: 80px;
    margin: 2px 0 0 80px;
}

.dustbin .items {
    position: absolute;
    z-index: 100;
    opacity: 1;
}

.dustbin {
    width: 80%;
    height: 1108px;
    float: right;
    color: white;
    padding: 5px;
    line-height: 5px;
    display: flex;
    background-color: rgb(218, 76, 218);
    position: relative;
}

.text {
    font-family: 'Times New Roman', Times, serif;
    align-content: center;
    font-size: 14px;
}